@mixin clearfix(){
    &::after{
        content: "";
        clear: both;
        display: table;
      }
}

@mixin CentralizeXY(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin CentralizeX(){
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@mixin CentralizeY(){
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

//Valid $breakpoint values
//------------------------------------------
//  phone
//  tab-port
//  tab-land
//------------------------------------------
$max-width-phone: 37.5em;  //600px/16
$max-width-tab-port: 56.25em;  //900px/16
$max-width-tab-land: 75em;  //1200px/16
//------------------------------------------

@mixin respond($breakpoint){
    @if $breakpoint == tab-land{
        @media only screen and (max-width:$max-width-tab-land){
            @content
        };
    }
    @if $breakpoint == tab-port{
        @media only screen and (max-width:$max-width-tab-port){
            @content
        };
    }
    @if $breakpoint == phone{
        @media only screen and (max-width:$max-width-phone){
            @content
        };
    }
}

@mixin respond-touch-device(){
    @media only screen and (max-width:$max-width-tab-port),
     (hover:none){
         @content
     }
}

@mixin respond-font($font-size){
    font-size: $font-size;
    @media only screen and (max-width:$max-width-tab-land){
        font-size: $font-size * 0.96;
    };
    @media only screen and (max-width:$max-width-tab-port){
        font-size: $font-size * 0.90;
    };
    @media only screen and (max-width:$max-width-phone){
        font-size: $font-size * 0.84;
    };
}

@mixin respond-height($height){
    height: $height;
    @media only screen and (max-width:$max-width-tab-land){
        height: $height * 0.9;
    };
    @media only screen and (max-width:$max-width-tab-port){
        height: $height * 0.8;
    };
    @media only screen and (max-width:$max-width-phone){
        height: $height * 0.7;
    };
}

@mixin respond-width($width){
    width: $width;
    @media only screen and (max-width:$max-width-tab-land){
        width: $width * 0.8;
    };
    @media only screen and (max-width:$max-width-tab-port){
        width: $width * 0.7;
    };
    @media only screen and (max-width:$max-width-phone){
        width: $width * 0.6;
    };
}