//colors
//-----------------------------------
$color-white: #fff;
$color-black: #000;

$color-text-light: $color-white;
$color-text-dark: $color-black;

$color-primary-light: #D2ECF9;
$color-secondary: #00dffc;
$color-primary: #1F5F8B;
$color-primary-dark: #253B6E;

//grid
//-----------------------------------
$gutter-horizontal: 2rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;

//fonts
//------------------------------------
$font-family-primary: 'Roboto', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Pacifico', Arial, Helvetica, sans-serif; //Handwriting

//font-sizes
//-----------------------------------
$font-size-largest: 9rem;
$font-size-large: 6rem;
$font-size-medium: 3rem;
$font-size-small: 2rem;
$font-size-text: 1.6rem;
$font-size-text-smaller: 1.4rem;







