body{
    font-family: $font-family-primary;
}

.heading-tertiary{
    @include respond-font($font-size-medium);
    color: $color-white;
    text-align: center;
    margin-bottom: 4rem;
    @include respond(tab-port){
        margin-bottom: 2rem;
    }
}

.heading-quaternary{
    @include respond-font($font-size-small);
    color: $color-secondary;
    text-align: center;
    margin-bottom: 6rem;
    @include respond(tab-port){
        margin-bottom: 3rem;
    }
}