$margin-right : 12%;
$margin-left : .5%;

.about{
    width: 90%;
    height: 85%;
    max-height: 80rem;
    position: relative;
    margin: auto;

    border: 2rem solid $color-primary-light;
    border-radius: 4px;
    box-shadow: 1rem 1rem 1rem rgba($color-primary-light, .5);

    @include respond(height){
        height: 64rem;
    }

    &__picture{
        width: calc(100% / 3);
        height: 100%;
        background-image: url(../img/img-001.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        opacity: .9;    
        float: left;
        margin: auto;
        box-shadow: 1rem 1rem 1rem rgba($color-black, .5);
        position: relative;
        z-index: 9998;
        border-radius: 2px;
        transition: all .5s;
       
        @include respond(tab-port){
            width: 50% + $margin-right + $margin-left - .1;
            height: 50%;
        }

        &:hover{
            border: 2rem solid $color-secondary;
            transform: scale(1.2);
            z-index: 9999;
        }
    }

    &__text{
        width: calc(100% / 3); 
        height: 100%;
        background-color: $color-white;        
        float: left;  
        margin: auto;
        position: relative;

        &--1{
            width: calc(100% / 3);
            margin-left: -1 * $margin-left;
            margin-right: -1 * $margin-right;
            background-image: linear-gradient(to right, $color-primary-light 40%, $color-primary);
            -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            z-index: 9999;
            @include respond(tab-port){
                width: 50%;
                height: 50%;
            }
        }
        
        &--2{
            width: (100% / 3) + $margin-left + $margin-right;
            @include respond(tab-port){
                clear: both;
                width: 100%;
                height: 50%;
            }
        }
    }

    &__paragraph{
        &, &:link, &:visited{
            display: block;
            @include respond-font($font-size-small);
            text-align: center;
            color: $color-black;
            text-decoration: none;
            transition: all .2s;
            line-height: 1.1;
            transition: all .2s;

            @include respond(tab-port){
                line-height: 1;
            }

            &:not(:last-child){
                margin-bottom: 4rem;
                @include respond(tab-port){
                    margin-bottom: 1rem;
                }
            }
        }

        &--1{
            color: $color-black;
            font-family: $font-family-secondary;
            @include respond-font(2.4rem);  
            transform: skewY(-15deg);
            @include respond(tab-port){
                @include respond-font(2.2rem);  
            }
        }

        &--2{
            &:hover, &:active{                
                border-bottom: 3px solid $color-secondary;
                transform: scale(1.2);
            }
        }

        &__year{
            color: $color-secondary;
        }
    }

}