.does{
    width: 80%;
    height: 100%;
    position: relative;
    margin: auto;
    
    &__svg{ 
        margin-bottom: 4rem;   
        &__path {
            fill: transparent;
        }
        
        &__text{
            //fill: #FF9800;
            fill: $color-secondary;
            @include respond-font(2.4rem);
            //font-size: 2.4rem;
        }
    }
}