.does{
    width: 90%;
    height: 85%;
    position: relative;
    margin: auto;
    
    &__svg{ 
        position: relative;
        display: block;
        margin-bottom: 4rem;   
        border: 2rem solid $color-primary-light;
        border-radius: 4px;
        box-shadow: 1rem 1rem 1rem rgba($color-primary-light, .5);   

        &__text{
            position: absolute;
            top: 70%;
            left: 0;
            color: $color-black;
            background-color: $color-white;
            box-shadow: 2rem 2rem 1rem rgba($color-black, .5);
            padding: 2rem;
            margin-left: -4rem;
            border-radius: 4rem;
            @include respond-font(2.4rem);
            transform: rotate(-45deg);
            transform-origin: 0 0 0;
        }
    }

    
}