.does{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    
    &__svg{ 
        margin-bottom: 4rem;   
        &__path {
            fill: transparent;
        }
        
        &__text{
            fill: $color-secondary;
            @include respond-font(2.4rem);
        }
    }
}