.loves{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;

    &__item{
        position: absolute;
        width: 96%;
        height: 25%;
        clear: both;
        transition: all .2s;
        margin: auto;

        &--1{
            top: 0;
            left: 10%;
            z-index: 8500;
            @include respond(tab-port){
                left:2%;
            }
        }

        &--2{
            top: 18rem;
            left: 50rem;

            @include respond(tab-port){
                top: 24rem;
                left: 2%;
            }
        }

        &__text{
            padding: 6rem;
            text-align: center;
            @include respond-font($font-size-medium);
            color: $color-secondary;

            @include respond(tab-port){
                padding: 2rem;
            }
        }

        &:hover{
            transform: scale(1.2);
            z-index: 9999;
        }
    }
}