.loves{
    width: 90%;
    height: 90%;
    position: relative;
    margin: auto;   
    
    &__item{
        position: absolute;
        width: 50%;
        height: 70%;
        transition: all .2s;
        margin: auto;
        border: 2rem solid $color-primary-light;
        border-radius: 4px;
        box-shadow: 1rem 1rem 1rem rgba($color-primary-light, .5);   

        &__text{
            position: relative;
            float: left;
            width: 20%;
            height: 100%;
            text-align: center;
            color: $color-black;
            font-family: $font-family-secondary;
            @include respond-font($font-size-medium);
            background-image: radial-gradient($color-primary-light, $color-primary);
            letter-spacing: 1rem;
            &__content{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }

        &__picture{
            float: left;
            width: 80%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1rem 1rem 1rem rgba($color-black, .5);
            &--1{
                background-image: url(../img/img-003.jpg);
            }
            &--2{
                background-image: url(../img/img-002.jpg);
            }
        }

        &--1{
            top: 2%;
            left: 15%;
            z-index: 8500;
            transform: skewY(-5deg);
        }

        &--2{
            bottom: 2%;
            right: 15%;
            z-index: 8600;
            transform: skewY(-5deg);
        } 
        
        @include respond(tab-port){
            width: 80%;
            height: 50%;
            position: static;
            transform: skewY(0);
            margin: 1rem auto;
        }

        &:hover{
            transform: translateY(-5rem) scale(1.2);
            z-index: 9999;
        }
    }
}